<!doctype html>
<html>
<head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet"  href="stylesheets/pp.css">

<header>
    
    <nav>
        <ul class="textColor " id="navbar">
            <li><a href="/AboutMe">About Me</a></li>
            <li><a href="/ProjectsPage">Projects</a></li>
            <li><a href="/ContactMe">Contact Me</a></li>

        </ul>
    </nav>

</header>

</head>

<h1></h1>
</head>
<body>

        <div class="table">
        <div class="centerTable">
          <table cellspacing="0" cellpadding="0" border="0" width="200">
            <div style="width:100%; height:100px; overflow:auto;">
              <table cellspacing="0" cellpadding="1" border="1" width="100%">
                  
                <tr style="color:white;background-color:grey">
                  <td>Project Title</td>
                  <td>Languages/Technologys</td>
                  <td>Description</td>
                </tr>       

                <tr>                
                  <td>Contact List</td>
                  <td>Java,JavaFX</td>
                  <td>First application. User is able to create new contacts, view existing contacts, edit contacts and delete them. Contacts are stored in XML.</td>               
                </tr>
              
                <tr>
                  <td>Todo List</td>
                  <td>Java, Spring MVC, Maven</td>
                  <td>First web application and use of dependencys. User is able to create new todo items, view list, edit items and delete them.</td>
                </tr>
                <tr>
                  <td>Station Calibration</td>
                  <td>RAPID</td>
                  <td>Robot calibrates itsel in 6 degree of freedoms to an external station with a distance sensor and a tolerance of 0.3mm. Applying complex mathmatical theories in real world application was highly challenging. Problem analysing skill was highly required. </td>
                </tr>
                <tr>
                </tr>
                <tr>
                  <td>Personal Website</td>
                  <td>Golang, MySql</td>
                  <td>First golang application.</td>
                </tr>
                <tr>
                </tr>
                <tr>
                  <td>FastConfigFile</td>
                  <td>Java, JavaFX, Apache poi </td>
                  <td>A tool which is only needed by our developers. Interface between plc and robot is defined in excel sheet. This application reads the excel sheet, searches for errors and writes the 
                      config file of abb robots.
                  </td>
                </tr>
                <tr>
                </tr>
              </table>
            </div>
          </table>
        </div>
    </div>
       
</body>
</html>